@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px){
    body{
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 102%;
}}